{% extends 'base.html.twig' %}

{% block title %}Accueil du blog{% endblock %}

{% block body %}
    <div class="main-title">
        <h1>Bienvenue sur le blog Newdeal !!!</h1>
    </div>
    <div class="links">
        <div class="article-link">
            <p>Tu peux directement accéder à la liste des articles</p>
            <button class="article-button" type="button"><a class="article-link" href="{{ path('article_index')}}" role="button">Articles</a></button>
        </div>
        <div class="user-link">
            <p>Mais également à la liste des utilisateurs</p>
            <button class="article-button" type="button"><a class="user-link" href="{{ path('user_index')}}" role="button">Utilisateurs</a></button>
        </div>
    </div>
{% endblock %}
